.month-picker {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 58px auto 58px;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "left-arrow-button month-label right-arrow-button"
    "left-arrow-button year-label right-arrow-button";
}

.month-picker__arrow-button {
  background: #8a9ca9;
}

.month-picker__arrow-button--right {
  grid-area: right-arrow-button;
}

.month-picker__arrow-button--left {
  grid-area: left-arrow-button;
}

.month-picker__month-label {
  grid-area: month-label;
}

.month-picker__year-label {
  grid-area: year-label;
}
